version: "3.9"

services:
  db:
    image: pgvector/pgvector:pg16
    container_name: pubinsight-db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app_pw
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

 services:
  api:
    build:
      context: ../apps/api
      dockerfile: Dockerfile
    image: infra-api
    container_name: pubinsight-api
    env_file:
      - ../apps/api/.env
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  db_data: